.container {
  color: #696969;
  background: #CCC;
  border-radius: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

}


.header li {
	color: #FFFFFF;
	display: inline-block;
	float: right;
	position: relative;
	margin-top: -12px;
	width: 33%;
	font-size: 15px;
}

.qualifications {
	border-top: 3px solid #696969;
	position: relative;
	top: 20px;
	padding-bottom: 5px;
}

 .experience h4 {
 	position: relative;
}